<h1 class="text-danger">Google Sign In Demo</h1>
<!-- <p>559841494150-b9urt3argpv6gqlkucpvm7ee69jlc8eb.apps.googleusercontent.com</p> -->
<button *ngIf="!loggedInUser" class="btn btn-danger p-2 text-center m-4"><asl-google-signin-button type='icon' size='medium'></asl-google-signin-button></button>
<br><br>
<button *ngIf="!loggedInUser" (click)="signInWithFb()" class="btn btn-primary p-2 text-center m-4">Login With Facebook</button>

<div *ngIf="loggedInUser">
  <div>
    <img src="{{loggedInUser.photoUrl}}"/>
  </div>
  <p>{{loggedInUser.name}}</p>
  <p>{{loggedInUser.email}}</p>

  <button (click)="signOut()" class="btn btn-danger">SignOut</button>
</div>
